#view1 {
  height: 200px;
  background-color:#fffffff7; /* #ced2cc was original background color*/
} 

.avatar-view {
  float: left;
  margin-left: 10px;
  margin-top: 16px;
}

.info-view {
  font-family: "Audiowide";
  position: absolute;
  margin-left: 65px;
  margin-top: 45px;
  font-size: 40px;
  color: #6EB5C0;
  font-weight: bold;
  text-align: left;
}
