#view6 {
  height: 600px;
  background-color:#150050; /* #ced2cc was original background color*/
}

.list-container {
  height: 85%;
  overflow-y: scroll;
  font-family: "Audiowide";
}

.selected {
  background-color: blue;
  color: white;
}
