#view4 {
  height: 300px;
  background-color: #fff; /* #ced2cc was original background color*/
}
.avatar-view3 {
  float: left;
  margin-left: 900px;
  margin-top: -190px;
}

.tooltip {
  position: absolute;
  z-index: 999;
}
